/* Style the form */
#surveyForm {
    background-color: rgb(244,244,244);
    display: inline-block;
    padding:2vh;
    border-radius: 2vh;
    margin: 2vh;
    margin-top: 0;
    min-width: 280px;
  }
  
  /* Style the input fields */
  input, select {
    padding: 5px;
    font-size: 14px;
    text-align: center;
    border: none;
  }

  select{
    width: 100%;
  }

  .pregunta{
      margin-bottom: 1vh;
  }

  
  /* Mark input boxes that gets an error on validation: */
  input.invalid {
    background-color: #ffdddd;
  }
  
  /* Hide all steps by default: */
  .tab {
    display: none;
  }
  
  /* Make circles that indicate the steps of the form: */
  .step {
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbbbbb;
    border: none;
    border-radius: 50%;
    display: inline-block;
    opacity: 0.5;
  }
  
  /* Mark the active step: */
  .step.active {
    opacity: 1;
  }
  
  /* Mark the steps that are finished and valid: */
  .step.finish {
    background-color: #4CAF50;
  }

/* Cambiamos el formato de los botones */
#enviar {
    background-color: rgb(255, 0, 51); /* MBD Gold */
    border: none;
    border-radius: 1vh;
    color: white;
    padding: 1vh 2vh;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 2vh;
    outline: none;
}

#enviar:hover{
    background-color: rgb(16,31,66); /* MBD Blue */
    cursor: pointer;
}

.col-1{
    padding: 0 !important;
}