<!DOCTYPE html>

<html lang="en">

    <head>
        {% from "_macro.html" import inicio_head %}
        {{inicio_head()}}

        <link rel="stylesheet" href ="{{url_for('static', filename='css/score_images.css')}}"> 
    </head>

    <body style="background-image: url({{url_for('static', filename='img/background.jpg')}}); background-size: cover;"> 
        <center>
        <img id="redireccionMBD" src="{{url_for('static', filename='img/Happy Adventure Logo.png')}}" style="margin-top: 2vh;">

        <div style="max-width: 750px;  color: whitesmoke; font-size: 17px;">
            Introduce los datos del cliente para obtener la probabilidad estimada de las intencion del cliente de volver
            al parque de atracciones
        </div><br>

        

        <!-- IMAGENES -->
        <!-- One "tab" for each step in the form: -->
        <form action={{url_for('sentView')}} method="POST" name="surveyForm" id="surveyForm">


                <!-- Fecha de Nacimiento -->
                <div class="pregunta">
                    <label for="age" style="font-weight: 600;">Edad</label><br>
                    <input  style="width: 100%;" type="number" id="age" name="age" required oninput="this.className = ''">
                </div>
                <!-- Sexo -->
                <div class="pregunta">
                    <label for="sex" style="font-weight: 600;">Género</label><br>
                    <fieldset id="gender">
                        <input class="gender" type="radio" id="male" name="gender" value="male" required oninput="this.className = ''">
                        <label for="male">Masculino</label><br>
                        <input class="gender" type="radio" id="female" name="gender" value="female" required oninput="this.className = ''">
                        <label for="female">Femenino</label>
                    </fieldset>
                </div>

                <!-- Amigos -->
                <div class="pregunta">
                    <label for="friends" style="font-weight: 600;">Acompañantes amigos</label><br>
                    <input style="width: 100%;" type="number" id="friends" name="friends" required oninput="this.className = ''">
                </div>

                <!-- Producto A -->
                <div class="pregunta">
                    <label for="prodA" style="font-weight: 600;">Producto A</label><br>
                    <input style="width: 100%;" type="number" id="prodA" name="prodA" required oninput="this.className = ''">
                </div>

                <!-- Producto B -->
                <div class="pregunta">
                    <label for="prodB" style="font-weight: 600;">Producto B</label><br>
                    <input style="width: 100%;" type="number" id="prodB" name="prodB" required oninput="this.className = ''">
                </div>

                <!-- Punto de compra -->
                <div class="pregunta">
                    <label for="punto-compra" style="font-weight: 600;">Punto de compra</label><br>
                    <select name="punto-compra" id="punto-compra">
                        <option value="C">C</option>
                        <option value="Q">Q</option>
                        <option value="S">S</option>
                    </select>
                </div>

                <!-- Segmento -->
                <div class="pregunta">
                    <label for="segmento" style="font-weight: 600;">Segmento</label><br>
                    <select name="segmento" id="segmento">
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                    </select>
                </div>
            
            <div style="float:center; overflow:auto; margin-top:2vh;">
                <button type="submit" id="enviar">Enviar</button>
            </div> 
              
        </form>

        </center>
    </body>    

</html>