<!DOCTYPE html>

<html lang="en">

    <head>
        {% from "_macro.html" import inicio_head %}
        {{inicio_head()}}

        <link rel="stylesheet" href ="{{url_for('static', filename='css/score_images.css')}}"> 
    </head>

    <body> 
        <center>
        <h1>MBD Face Mask Beauty Test</h1>

        <hr3>Califica las imagenes de 0 a 10 en función de la belleza de la persona.</hr3><br>
        <hr3>Sientete libre de asignar la calificación que gustes, estas personas 
            no son reales por lo que no vas a herir sus sentimientos.</hr3><br><br>

        

        <!-- IMAGENES -->
        <!-- One "tab" for each step in the form: -->
        <form action={{url_for('sentView')}} method="POST" name="surveyForm" id="surveyForm">

            {% from "_macro.html" import mostrar_foto %}
            {{mostrar_foto( pics[0], score[0] )}}
            {{mostrar_foto( pics[1], score[1] )}}
            {{mostrar_foto( pics[2], score[2] )}}
            {{mostrar_foto( pics[3], score[3] )}}
            {{mostrar_foto( pics[4], score[4] )}}
            <!--{{mostrar_foto( pics[5], score[5] )}}
            {{mostrar_foto( pics[6], score[6] )}}
            {{mostrar_foto( pics[7], score[7] )}}
            {{mostrar_foto( pics[8], score[8] )}}
            {{mostrar_foto( pics[9], score[9] )}}-->
            
            <div class="tab">
                <!-- Fecha de Nacimiento -->
                <label for="birthdate">Edad</label><br>
                <input type="number" id="birthdate" name="birthdate" required oninput="this.className = ''"><br><br>

                <!-- Sexo -->
                <label for="sex">Género</label><br>
                <fieldset id="gender">
                    <input class="gender" type="radio" id="male" name="gender" value="male" required oninput="this.className = ''">
                    <label for="male">Male</label><br>
                    <input class="gender" type="radio" id="female" name="gender" value="female" required oninput="this.className = ''">
                    <label for="female">Female</label>
                </fieldset><br><br>

                <label for="email">Email (Incluye el correo en caso de que quieras recibir los resultados del estudio)</label><br>
                <input type="email" id="email" name="email" oninput="this.className = ''"><br><br>
            </div>
            
            <div style="overflow:auto;">
                <div style="float:center;">
                    <button type="button" id="prevBtn" onclick="nextPrev(-1)">Anterior</button>
                    <button type="button" id="nextBtn" onclick="nextPrev(1)">Siguiente</button>
                </div>
            </div>
            
            <!-- Circles which indicates the steps of the form: -->
            <div style="text-align:center;margin-top:40px;">
                <span class="step"></span>
                <span class="step"></span>
                <span class="step"></span>
                <span class="step"></span>
                <span class="step"></span>
                <span class="step"></span>
                <!--<span class="step"></span>
                <span class="step"></span>
                <span class="step"></span>
                <span class="step"></span>
                <span class="step"></span>-->
            </div>
        
        </form>


        <!--<form action={{url_for('sentView')}} method="POST" name="surveyForm" id="surveyForm">
            <div style="height:62vh">
                <img src="{{url_for('static', filename='img/Persons/person_01_mask.jpg')}}" 
                style="height: 100%; object-fit: cover;">
            </div>
            <br>
            <label for="score_1">Score (between 0 and 10):</label><br>
            <input type="range" id="vol" name="vol" min="0" max="10"><br><br>

            <input type="submit" value="Finalizar">  
        </form>-->

        <script src="{{url_for('static', filename='js/score_images.js')}}"></script>

        </center>
    </body>    

</html>